*{
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
}
html,body{
    width:100%;
}
html,body.rotateIn{
    transition-duration: 3s;
}
#head{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    -webkit-user-select: none;
    z-index: 1001;
}
#head #topBox{
    height: 100px;
    position: relative;
    float: left;
    height: 100px;
    width: 270px;
    z-index: 1000;
    background: #fff;
    left: -20px;
    background: url("images/topBox.png")no-repeat center #fff;
    cursor: pointer;
}
#head #topBoxList{
    height: 100px;
    line-height: 100px;
    margin-left: 240px;
    position: relative;
    z-index: 1000;
    background: #fff;
}
#head #topBoxList a{
    text-decoration: none;
    color: #888;
    font-size: 20px;
    margin: 0 20px;
    position: relative;
    float: left;
}
#head #topBoxList a:hover{
    color: #000;
}
#head #topBoxList a:hover i{
    width: 100%;
}
#head #topBoxList a i{
    position: absolute;
    width: 0;
    height: 5px;
    background: #cf0f32;
    display: block;
    left: 0;
    top: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
#head #topBoxList span{
    float: left;
    height: 100px;
    line-height: 100px;
    width: 4px
}
#head #topNav{
    position: absolute;
    top: 0;
    right: 0;
    background: url("images/topOpen.png")no-repeat;
    width: 122px;
    height: 121px;
    cursor: pointer;
    z-index: 1000;
}
#head #topNavOpen{
    background: #282b2d;
    width: 100%;
    position: absolute;
    top: -600px;
    left:0;
    /*display: none;*/
    z-index: 100;
}
#head #topNavOpen p{
    position: relative;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-indent: 25px;
    color: #fff;
    margin: 40px 40px 25px ;
}
#head #topNavOpen p span{
    font-size: 12px;
    float: right;
    color: #fff;
}
.h,.n{
    background: url("images/topBar.png")no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
}
.h{
    position: relative;
    right: 7px;
    background-position: -56px -48px;
    top: 1px ;
}
.n{
    position: relative;
    right: -1024px;
    background-position: -56px -34px;
    top: -2px;
}
#head .computer,#head .iphone{
    width: 50%;
    float: left;
    height: 600px;
}
#head #topNavOpen .computer p,#head #topNavOpen .iphone p{
    font-size: 15px;
}
#banner{
    width: 1349px;
    height: 820px;
    position: relative;
    overflow: hidden;
}
#banner #bannerInner div{
    width: 1349px;
    height: 820px;
    position: absolute;
    margin: 0 auto;
    opacity: 0;
    z-index: 0;
}
#banner #bannerInner div img{
    left: -251px;
    position: absolute;
    display: none;
}
#banner #bannerInner div h2{
    font-size: 44px;
    position: absolute;
    color: #fff;
    top: 300px;
    left: 110px;
}
#banner #bannerInner div h3{
    font-size: 44px;
    position: absolute;
    color: #fff;
    top: 350px;
    left: 110px;
    height: 100px;
    line-height: 100px;
    width: 484px;
    border-bottom: 1px solid #cf1132;
}
#banner #bannerInner div p{
    font-size: 16px;
    position: absolute;
    color: #fff;
    top: 460px;
    left: 110px;
    width: 484px;
    margin: 10px 0;
}
#banner #focusList{
    height: 20px;
    position: absolute;
    top: 600px;
    right: 70px;
    list-style: none;
    z-index: 1000;
}
#banner #focusList li{
    width: 18px;
    height: 18px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#banner #focusList li.select{
    background: red;
}
#banner #left{
    width: 45px;
    height: 80px;
    background: url("images/left.png")no-repeat center #cf0f32;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1000;
}
#banner #right{
    width: 45px;
    height: 80px;
    background: url("images/right.png")no-repeat center #cf0f32;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1000;
}
#banner #bannerInner div i{
    width: 140px;
    height: 50px;
    display: block;
    background: url("images/look.png")no-repeat;
    position: absolute;
    top: 600px;
    left: 110px;
    cursor: pointer;
}
#bg{
    width: 1349px;
    height: 200px;
    background: url("images/bg.jpg")no-repeat;
}
#conBox{
    width: 1260px;
    height: 320px;
    padding:0 45px;
    top: -120px;
    position: relative;
    z-index: 1000;
    float: left;
}
#conBox #conBox1{
    width: 790px;
    position: absolute;
    height: 100%;
    background: #282b2d;
}
#conBox #conBox2{
    width: 390px;
    height: 280px;
    position: absolute;
    background: #282b2d;
    padding:40px 40px 0;
    right: 0;
    left: 835px;
}
#conBox #conBox1 #innerBox1{
    width: 150px;
    height: 100%;
    background: #282b2d;
    left: 0;
    position: absolute;
}
#conBox #conBox1 #innerBox1 p{
    font-size: 12px;
    color: #727272;
    text-align: center;
    margin-top: 70px;
}
#conBox #conBox1 #innerBox1 h1{
    font-size: 58px;
    color: #727272;
    text-align: center;
    line-height: 60px;
}
#conBox #conBox1 #innerBox1 i{
    width: 22px;
    height: 5px;
    background: #cf1132;
    display: block;
    margin: 15px auto;
}


/*
#conBox #conBox1 .innerBox2{
    width: 640px;
    position: relative;
    height: 100%;
    float: left;
    overflow: hidden;
    left: 150px;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    background: #e2e6e9;
    display: block;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .bg-bottom{
    bottom: 0;
}
#conBox #conBox1 .innerBox2 .bg-top{
    top: 0;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover div{
    background-position: 60% 50%;
    background-position: 40% 50% \9;
    *background-position: 40% 50%
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover p{
    background: 0 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .txt1{
    top: -40px;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .txt2,#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .daySelf{
    bottom: 40px;
    color: #fff
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .daySelf{
    height: 50%;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .innerJk{
    background: 0 0;
    background: rgba(0, 0, 0, 0);
}
#conBox #conBox1 .innerBox2 .inBox1 .jk:hover .daySelf span{
    color: #fff;
}
#conBox #conBox1 .innerBox2 .inBox1 .jk .innerJk{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: block;
    color: #c6c6c6;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .inBox1 .jk-btn{
    width: 100%;
    height: 100%;
    background-position: 40% 50%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .inBox1 .jk-btn img{
    width: 100%;
    height: 100%;
}
#conBox #conBox1 .innerBox2 .txt1{
    position: relative;
    top: 0;
    font-size: 20px;
    line-height: 35px;
    min-height: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;
    color: #fff;
    list-style: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .txt2{
    z-index: 1100;
}
#conBox #conBox1 .innerBox2 .txt2,#conBox #conBox1 .innerBox2 .daySelf{
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
    left: 50%;
    display: block;
    bottom: 0px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .daySelf{
    display: block;
    background: #cf1132;
    width:100%;
    height: 0;
    position: absolute;
    left: 115px;
    bottom: 0;
    -webkit-transition: all .2s ease-out;
}
/*
#conBox #conBox1 .innerBox2 .daySelf span{
    font-size: 28px;
    color: #cf1132;
    font-weight: 700;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 #jk2 div{
    width: 100%;
    height: 100%;
    background: url("images/jk2.jpg")no-repeat;
    background-position: 40% 50%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#conBox #conBox1 .innerBox2 #jk2 div:hover,#conBox #conBox1 .innerBox2 #jk1 div:hover{
    background-position: -40px 0;
}
#conBox #conBox1 .innerBox2 .bg-bottom{
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    height: 120px;
    background: #cf1132;
    opacity: .9;
    filter: alpha(opacity=90);
    z-index: 1100;
}
#conBox #conBox1 .innerBox2 .bg-top{
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 60px;
    background: url("images/bg-top.png") repeat-x;
    z-index: 1100;
}
#conBox #conBox1 .innerBox2 .txt1{
    position: relative;
    top: 0;
    font-size: 20px;
    line-height: 35px;
    min-height: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;
    color: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .txt2,#conBox #conBox1 .innerBox2 .daySelf{
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    width: 230px;
    left: 50%;
    margin-left: -115px;
    display: block;
    color: #fff;
    bottom: 110px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#conBox #conBox1 .innerBox2 .daySelf{
    display: none;
}
#conBox #conBox1 .innerBox2 .daySelf span{
    font-size: 28px;
    color: #cf1132;
    font-weight: 700;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
*/
#topNavOpen .computer,#topNavOpen .iphone{
    float: left;
}
#topNavOpen .computer{
    width: 477px;
    height: 492px;
}
#topNavOpen .iphone{
    width: 740px;
    height: 769px;
}
#topNavOpen  .gameTitle{
    padding: 25px 0;

}
#topNavOpen  .gameTitle em{
    border-left: 4px #dd1136 solid;
    height: 16px;
    line-height: 16px;
    text-indent: 36px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    display: block;
}
.gameBox1{
    width: 272px;
    padding-left: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#topNavOpen  h2{
    width: 100%;
    padding: 25px 0;
    color: #dd1136;
    font-size: 14px;
}
#topNavOpen  ul{
    list-style: none;
}
#topNavOpen .gameBox1 a,#topNavOpen .gameBox2 a,#topNavOpen .gameBox3 a,#topNavOpen .gameBox4 a{
    text-decoration: none;
    color: #ccc;
}
#topNavOpen .gameBox1 a:hover,#topNavOpen .gameBox2 a:hover,#topNavOpen .gameBox3 a:hover,#topNavOpen .gameBox4 a:hover{
    color: #fff;
    font-weight: 700;
}
#topNavOpen li{
    float: left;
    width: 136px;
    height: 27px;
    line-height: 27px;
}
#topNavOpen .gameBox1 em.h,#topNavOpen .gameBox2 em.h,#topNavOpen .gameBox3 em.h,#topNavOpen .gameBox4 em.h{
    right: -8px;
}
#topNavOpen .gameBox1 em.n,#topNavOpen .gameBox2 em.n,#topNavOpen .gameBox3 em.n,#topNavOpen .gameBox4 em.n{
    right: -8px;
}
#topNavOpen a{
    font-size: 14px;
}
.gameBox1,.gameBox2{
    float: left;
}
.gameBox2{
    width: 120px;
    padding-left: 42px;
    border-right: 1px solid #ccc;
}
.gameBox3{
    position: relative;
    width: 131px;
    _height: 482px;
    padding-left: 30px;
    border-right: 1px solid #ccc;
}
.gameBox3,.gameBox4{
    float: left;
}
.gameBox4{
    width: 545px;
    padding-left: 32px;
    border-right: 1px solid #ccc;
}
#topNavOpen .gameBox4 em.n{
    right: -2px;
}
#topNavOpen .topNavClose{
    display: block;
    width: 56px;
    height: 34px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -28px;
}
#topNavOpen .topNavClose i{
    width: 100%;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    background: url("images/topBar.png")no-repeat 0px -34px;
}
#topNavOpen .topNavClose i:hover{
    background-position: 0 -48px;
}
#gameWrap .gameBottom{
    position: relative;
    width: 100%;
    height: 20px;
}
.gameBottom em.h{
    position: relative;
    right: 7px;
    background-position: -56px -48px;
    top: 1px;
}
.gameBottom em.n{
    position: relative;
    right: 7px;
    background-position: -56px -34px;
    top: 1px;
}
.gameBottom span:nth-child(1){
    position: absolute;
    left: 45%;
}
.gameBottom span:nth-child(2){
     position: absolute;
     left: 55%;
 }
#gameLove{
    position: relative;
    top: 1px;
    width: 1349px;
    height: 680px;
    background: url("images/gameLove.jpg")no-repeat center top #fff;
}
#gameLove .gameLover{
    position: absolute;
    top: 310px;
    width: 1349px;
    height: 370px;
}
#gameLove .gameLover a{
    display: block;
    width: 20%;
    height: 100%;
    float: left;
    background-position: center ;
    overflow: hidden;
    text-decoration: none;
}
#gameLove .gameLover .font1{
    display: block;
    position: absolute;
    bottom:0;
    width: 269.8px;
    height: 370px;
    background: #000000;
    opacity: 0.7;
    transition: all 0.3s linear;
}
#gameLove .gameLover a:hover .font1{
    height: 0;
}
#gameLove .gameLover .font3{
    top: 45%;
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-left: 55px;
    transition: all .5s linear;
}
#gameLove .gameLover a:hover .font2{
    top: 185px;

}
#gameLove .gameLover .font2{
    display: block;
    position: relative;
    width: 269.8px;
    height: 185px;
    top: 370px;
    left: 0;
    background: #dd1136;
    opacity: 0.8;
    transition: all 0.3s linear;
}
#gameLove .gameLover a:hover .font3{
    top: 80%;
}
/*>>>>>>>>>>下面的换一批>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#showBottom{
    position: relative;
    width: 1260px;
    margin: 45px 0 45px 45px;
    height: 500px;
}
#showBottom .showTitleTop{
    position: absolute;
    width: 1260px;
    height: 140px;
    top: -45px;
    z-index: 1100;
    background: #fff;
}
#showBottom .showTitleTop #showTitle1{
    position: absolute;
    top: 70px;
    left: 0;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-left: 4px #cf1132 solid;
    padding: 0 20px;
    width: 1200px;
}
#showBottom #showTitle1 a{
    float: right;
    text-decoration: none;
    color: #272a2c;
    margin-right: 20px;
}
#showBottom #showTitle1 .video{
    position: absolute;
    float: left;
    margin-left: 20px;
    font-size: 18px;
}
#showBottom #showTitle1 .video span{
    margin: 0 10px 0 10px ;
    line-height: 20px;
}
#showBottom #showTitle1 .video:hover{
    color:#cf1132;
}
#i2{
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url("images/newTop.png")no-repeat -20px -37px;
    margin-left: 10px;
}
#bottom{
    position: relative;
    width: 1260px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
#bottom div{
    float: left;
}
#bottom div a{
    text-decoration: none;
    position: relative;
    float: left;
    width: 150px;
    padding: 10px 0;
    margin-right: 2px;
    margin-bottom: 2px;
    background: #e3e3e3;
    text-align: center;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#bottom div a:hover{
    background: #cf1132;
}
#bottom p{
    text-indent: 30px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
    color: #888;
    background: url("images/bottom.png")no-repeat;
}
#bottom .bottomBox1{
    font-size: 15px;
    width: 152px;
}
#bottom .bottomBox2{
    font-size: 15px;
    width: 304px;
    margin: 0 10px 0 10px ;
}
#bottom .bottomBox3{
    font-size: 15px;
    width: 152px;
    margin: 0 10px 0 0;
}
#bottom .bottomBox4{
    font-size: 15px;
    width: 608px;
}
#bottom .bottomText1{
    color: #222;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    transition: all .2s ease-out;
}
#bottom .bottomText2{
    color: gray;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    transition: all .2s ease-out;
}
#bottom div a:hover .bottomText1{
    font-weight: 500;
    color: #fff;
}
#bottom div a:hover .bottomText2{
    font-weight: 300;
    color: #fff;
}
#bottom .bottomLast{
    width: 100%;
    float: left;
    margin-top: 30px;
    font-size: 12px;
    color: #454240;
}
#bottom .bottomLast a{
    text-decoration: none;
    color: gray;
}
#bottom .bottomLast a:hover{
    color: #cf1132;
}
#final{
    width: 100%;
    height: 150px;
    background: #454240;
    position: relative;
    overflow: hidden;
}
#final span{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    background: #cf1132;
    opacity: 0.7;
    transition: all 0.3s linear;
    bottom: 0;
}
#final:hover span{
    height: 100%;
}
#final a{
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 40%;
    top: 40%;
    transition: all 0.3s linear;
    z-index: 1000;
}
#final a:hover{
    color: #990099;
}
